<!DOCTYPE html>
{% load static %}
<html>
<head style="font-family: 'Courier New', Courier, monospace;">
    <title>ASL Reco - about</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body style="font-family: 'Courier New', Courier, monospace;"> 
    <header>
        <div class="header">
            <div class="header_head">
            <h1>ASL Reco</h1>
              <div class="header_menu">
                <a href="{% url 'home' %}">Strona główna</a>
                <a href="{% url 'about' %}">O aplikacji</a>
                <a href="{% url 'contact' %}">Kontakt</a>
              </div>
            </div>
          </div>        
    </header>
    
    <div class="content">
            <div class="description">
            <h1>O aplikacji ASL Reco</h1>
            <p>Aplikacja ASL Reco powstała w wyniku pracy dyplomowej pt. Projekt oraz realizacja aplikacji do rozpoznawania alfabetu języka migowego.</p>
            <p>W ramach pracy dyplomowej stworzono konwolucyjną sieć neuronową która, została wykorzystana w niniejszej aplikacji.</p>
            <p>Stworzony model sieci neuronowej został wyuczony na danych z strony <a href="https://www.kaggle.com/datasets/ardamavi/27-class-sign-language-dataset">kaggle.com</a> .</p>
            <p>Aplikacja ASL Reco stworzona została w technologi DJANGO.</p>
            <p>Poniżej przedstawiono przykładowe zdjęcia wykorzystane podczas trenowania modelu.</p>
            <div class="gallery">
                {% for image in images %}
                    <div class="card">
                        <img src="{% static 'dataset/' %}{{ image.filename }}" alt="{{ image.alt }}">
                        <div class="card-info">
                            <h3>{{ image.title }}</h3>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <footer>
        <p> 2023 ASL Reco. All rights reserved.</p>
    </footer>
</body>
</html>
