<!DOCTYPE html>
{% load static %}
<html>
<head style="font-family: 'Courier New', Courier, monospace;">
    <title>ASL Reco - contact</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body style="font-family: 'Courier New', Courier, monospace;"> 
  <header>
        <div class="header">
            <div class="header_head">
            <h1>ASL Reco</h1>
              <div class="header_menu">
                <a href="{% url 'home' %}">Strona główna</a>
                <a href="{% url 'about' %}">O aplikacji</a>
                <a href="{% url 'contact' %}">Kontakt</a>
              </div>
            </div>
          </div>
        <title>CNN Image Prediction</title>        
    </header>
    
    <div class="content">
      <div class="description">
        <h2>Kontakt do twórcy aplikacji</h2>
        <p>k.sumara@student.po.edu.pl</p>
      </div>
    </div>
    
    <footer>
        <p>&copy; 2023 ASL Reco. All rights reserved.</p>
    </footer>
</body>
</html>
