<!DOCTYPE html>
{% load static %}
<html>
<head style="font-family: 'Courier New', Courier, monospace;">
        <title>ASL Reco - Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body style="font-family: 'Courier New', Courier, monospace;"> 
    <header>
        <div class="header">
            <div class="header_head">
            <h1>ASL Reco</h1>
              <div class="header_menu">
                <a href="{% url 'home' %}">Strona główna</a>
                <a href="{% url 'about' %}">O aplikacji</a>
                <a href="{% url 'contact' %}">Kontakt</a>
              </div>
            </div>
          </div>        
    </header>
    
    <div class="content">
        <div class="post">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input
                class="custom-file-upload"
                type="file"
                accept="image"
                name="image"
                id="file"
                />
                <button class="compress_image" type="submit" id="submitBtn">
                Rozpoznaj
                </button>
                <div class="status">
                <p id="message">{{ message }}</p>
                </div>
            </form>
        
            <div class="wrapper">
                <img
                src="{% if image_url %}{{ image_url }}{% else %}{% static 'images/default.png' %}{% endif %}"
                alt="Compressed Image"
                width="400px"
                height="600px"
                />
                {% if image is not None %}
                <div class="info_container">
                    <ul>
                        <li>Rozpoznano gest: <span class="type">{{ prediction }}</span></li>
                        <li>Wynik prognozy modelu: <span class="score">{{ score }}</span></li>
                        <li>Nazwa pliku: <span class="name">{{ image.name }}</span></li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    
    <footer>
        <p>&copy; 2023 ASL Reco. All rights reserved.</p>
    </footer>
</body>
</html>
